.dashboard {
    text-align: center;
}

.dashboard-logo {
    animation: dashboard-logo-spin infinite 20s linear;
    height: 80px;
}

.dashboard-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.dashboard-intro {
    font-size: large;
}

@keyframes dashboard-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
